cmake-build-debug/
bin/
obj/
Properties/
out/
*.iml
.idea/
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
venv/
*.class
target/*
**/packages/*
debug/
target/
**/*.rs.bk
*.pdb
*.out
